@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #7C3AED;
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-white text-slate-900 transition-colors duration-300;
}

.dark body {
  @apply bg-slate-900 text-white;
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--primary);
}
